{
  "openapi": "3.0.1",
  "info": {
    "title": "Mintlify External API",
    "description": "An API for Mintlify documentation management and resource access.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/auth/signup/": {
      "post": {
        "security": [],
        "summary": "Sign up",
        "description": "API to create a new user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_name": {
                    "type": "string",
                    "description": "The name of the company.",
                    "example": "Apple"
                  },
                  "category_id": {
                    "type": "integer",
                    "description": "The ID of the category.",
                    "example": 1
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "The user's email address.",
                    "example": "rahsssislse12345@gmail.com"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "The user's password.",
                    "example": "12345657"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusId": {
                      "type": "string",
                      "description": "The status ID of the triggered update."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Validation error or missing fields."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/auth/resendOTP/": {
      "post": {
        "summary": "Resend OTP",
        "description": "API to resend OTP to a user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "The user's email address.",
                    "example": "rahil12345@gmail.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "OTP resent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "A confirmation message."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Validation error or missing fields."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "security": []
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}